<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://37.media.tumblr.com/c626bdecc3acd91fcc88950c7b9e6b77/tumblr_n164eyaBeD1qitz6do1_500.jpg", class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Receta</h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-lg btn-primary" href="">Learn More</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="http://p1.pichost.me/640/24/1475188.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Perfect your recipes</h1>
          <p>Simple to use.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://pbs.twimg.com/media/Bobjms0IAAAhUtb.jpg:large" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Never lose another recipe</h1>
          <p>With version control it's easier than ever to find that Casserole recipe that Aunt Patty raved about in 1998.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSaKxA5CsgPsgMnUW7qGxGZZllu-fA2LnpJCpbcZQJCXQ7Ute_dIg">
    <h2 class="featurette-heading">Feature Rich. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, suspendisse sapien cras ac sed dis. Tempus donec, luctus diam.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS4MF1zS6ubIp-SUwcDx6RYxSY9tFIXH9mXx7l2EvtjBUVcRI8s">
    <h2 class="featurette-heading">Clean out your recipe box. <span class="text-muted">Free yourself.</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, suspendisse sapien cras ac sed dis. Tempus donec, luctus diam.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ2nADVZLsWetbHVA657J6n2Ktyd7TTAGBeICaoRIPD7_n_Qsdkhg">
    <h2 class="featurette-heading">Start from your last sucess. <span class="text-muted">Track the journey.</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, suspendisse sapien cras ac sed dis. Tempus donec, luctus diam.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->